.photosphere-map {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 275px;
  max-height: 275px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 200;
  transition: all ease-in-out 0.25s;
  &.expanded {
    max-width: 100%;
    max-height: 100%;
    bottom: 0px;
    right: 0px;
    .photosphere-map__fullscreen {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='23.79' height='23.79' viewBox='0 0 23.79 23.79'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_205' data-name='Rectangle 205' width='23.79' height='23.79' transform='translate(0 0)' fill='none' stroke='%23707070' stroke-width='2.5'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_193' data-name='Group 193' transform='translate(-79.663 24)'%3E%3Cg id='Group_192' data-name='Group 192' transform='translate(79.663 -24)'%3E%3Cg id='Group_191' data-name='Group 191' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_103' data-name='Path 103' d='M1.5,14.546V22.29H9.244' transform='translate(9.744 37.837) rotate(180)' fill='none' stroke='%23707070' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cpath id='Path_104' data-name='Path 104' d='M22.291,9.244V1.5H14.547' transform='translate(37.837 9.744) rotate(180)' fill='none' stroke='%23707070' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cpath id='Path_105' data-name='Path 105' d='M9.178,14.613l-.686.686L1.5,22.291' transform='translate(9.744 37.837) rotate(180)' fill='none' stroke='%23707070' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cline id='Line_56' data-name='Line 56' x1='6.992' y2='6.992' transform='translate(22.539 8.244) rotate(180)' fill='none' stroke='%23707070' stroke-miterlimit='10' stroke-width='2.5'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
      bottom: 20px;
      left: 20px;
    }
    .photosphere-map__zoom {
      bottom: 20px;
      right: 20px;
    }
  }
  &__fullscreen {
    z-index: 500;
    width: 36px;
    height: 36px;
    display: block;
    position: absolute;
    bottom: 26px;
    left: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 6px;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='23.79' height='23.79' viewBox='0 0 23.79 23.79'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_205' data-name='Rectangle 205' width='23.79' height='23.79' transform='translate(0 0)' fill='none' stroke='%23707070' stroke-width='2.5'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_193' data-name='Group 193' transform='translate(-79.663 24)'%3E%3Cg id='Group_192' data-name='Group 192' transform='translate(79.663 -24)'%3E%3Cg id='Group_191' data-name='Group 191' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_103' data-name='Path 103' d='M1.5,14.546V22.29H9.244' fill='none' stroke='%23707070' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cpath id='Path_104' data-name='Path 104' d='M22.291,9.244V1.5H14.547' fill='none' stroke='%23707070' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cpath id='Path_105' data-name='Path 105' d='M9.178,14.613l-.686.686L1.5,22.291' fill='none' stroke='%23707070' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cline id='Line_56' data-name='Line 56' x1='6.992' y2='6.992' transform='translate(15.299 1.5)' fill='none' stroke='%23707070' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cpath id='Path_106' data-name='Path 106' d='M1.5,14.546V22.29H9.244' fill='none' stroke='%23707070' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cpath id='Path_107' data-name='Path 107' d='M22.291,9.244V1.5H14.547' fill='none' stroke='%23707070' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cpath id='Path_108' data-name='Path 108' d='M9.178,14.613l-.686.686L1.5,22.291' fill='none' stroke='%23707070' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cline id='Line_57' data-name='Line 57' x1='6.992' y2='6.992' transform='translate(15.299 1.5)' fill='none' stroke='%23707070' stroke-miterlimit='10' stroke-width='2.5'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    transition: all ease-in-out 0.25s;
  }
  &__zoom {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 6px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 70px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    transition: all ease-in-out 0.25s;
    > div {
      display: block;
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-position: center center;
      cursor: pointer;
    }
    .zoom-button__plus {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15'%3E%3Cg id='Group_7' data-name='Group 7' transform='translate(0 0)'%3E%3Cline id='Line_40' data-name='Line 40' x2='15' transform='translate(0 7.5)' fill='none' stroke='%23707070' stroke-width='3'/%3E%3Cline id='Line_42' data-name='Line 42' y2='15' transform='translate(7.5 0)' fill='none' stroke='%23707070' stroke-width='3'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    .zoom-button__minus {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='3' viewBox='0 0 15 3'%3E%3Cline id='Line_41' data-name='Line 41' x2='15' transform='translate(0 1.5)' fill='none' stroke='%23707070' stroke-width='3'/%3E%3C/svg%3E%0A");
    }
  }
  &__map {
    background-image: url('../../images/map_sample.jpg');
    width: 100%;
    height: 100%;
  }
}
